@font-face
  font-family: "montserrat"
  src: url("fonts/montserrat/montserrat-bold.eot")
  src: url("fonts/montserrat/montserrat-bold.eot#iefix") format("embedded-opentype"),
  url("fonts/montserrat/montserrat-bold.woff") format("woff"),
  url("fonts/montserrat/montserrat-bold.ttf") format("truetype"),
  url("fonts/montserrat/montserrat-bold.svg") format("svg")
  font-weight: normal
  font-style: normal
  
@font-face
  font-family: "openSansLight"
  src: url("fonts/opensans/opensans-light.eot")
  src: url("fonts/opensans/opensans-light.eot#iefix") format("embedded-opentype"),
  url("fonts/opensans/opensans-light.woff") format("woff"),
  url("fonts/opensans/opensans-light.ttf") format("truetype"),
  url("fonts/opensans/opensans-light.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "openSansBold"
  src: url("fonts/opensans/opensans-bold.eot")
  src: url("fonts/opensans/opensans-bold.eot#iefix") format("embedded-opentype"),
  url("fonts/opensans/opensans-bold.woff") format("woff"),
  url("fonts/opensans/opensans-bold.ttf") format("truetype"),
  url("fonts/opensans/opensans-bold.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "openSansRegular"
  src: url("fonts/opensans/opensans-regular.eot")
  src: url("fonts/opensans/opensans-regular.eot#iefix") format("embedded-opentype"),
  url("fonts/opensans/opensans-regular.woff") format("woff"),
  url("fonts/opensans/opensans-regular.ttf") format("truetype"),
  url("fonts/opensans/opensans-regular.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "bellota"
  src: url("fonts/bellota/bellota-regular.eot")
  src: url("fonts/bellota/bellota-regular.eot#iefix") format("embedded-opentype"),
  url("fonts/bellota/bellota-regular.woff") format("woff"),
  url("fonts/bellota/bellota-regular.ttf") format("truetype"),
  url("fonts/bellota/bellota-regular.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Flaticon"
  src: url("fonts/flaticon/flaticon.eot")
  src: url("fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon/flaticon.woff") format("woff"),
	url("fonts/flaticon/flaticon.ttf") format("truetype"),
	url("fonts/flaticon/flaticon.svg") format("svg")
  font-weight: normal
  font-style: normal

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after
  font-family: Flaticon
  font-size: 20px
  font-style: normal

.flaticon-behance:before 
  content: "\e000"

.flaticon-load
  display inline-block
  width 40px
  height 40px
  box-sizing(border-box)
  padding 7px 5px
  background: rgba(0, 0, 0, .3)
  radius(50%,50%,50%,50%)
  -webkit-animation girar 1s infinite
  animation girar 1s infinite
  &:before 
    content: "\e001"

.flaticon-loadBlog
  display block
  text-align center
  box-sizing(border-box)
  radius(50%,50%,50%,50%)
  -webkit-animation girar 1s infinite
  animation girar 1s infinite
  &:before 
    content: "\e001"
    font-size 2em
    color #939393
    
.flaticon-dribbble:before 
  content: "\e002"

.flaticon-github:before 
  content: "\e003"

.flaticon-linkedin:before 
  content: "\e004"

.flaticon-menu:before 
  content: "\e005"

.flaticon-next:before 
  content: "\e006"

.flaticon-contact:before 
  content: "\e007"

.flaticon-blog:before 
  content: "\e008"

.flaticon-portfolio:before 
  content: "\e009"

.flaticon-previous:before 
  content: "\e00a"

.flaticon-me:before 
  content: "\e00b"

.flaticon-skype:before 
  content: "\e00c"

.flaticon-twitter:before 
  content: "\e00d"

.flaticon-skills:before 
  content: "\e00e"



  


