@import 'normalize'
@import 'mixins'
@import 'fonts'



html
  height: 100%
  width: 100%
body
  font-size 14px
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  color: #fff
  font-family: arial
  font-family: openSansRegular
  background-image: url('../img/bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  background-attachment: fixed
  letter-spacing -.3em

a 
  text-decoration none
  color #00baff

.btn
  background transparent
  display block
  
.btn:focus
  outline none

.menuDesktop
  background rgba(0, 0, 0, .4)
  display inline-block
  vertical-align top
  width 40%
  height 90%
  overflow hidden
  margin 3em 14% 0px 13%
  radius(40px,40px,40px,40px)
  letter-spacing normal
  & .menu
    display block
    & .itemMenu
      & .icon:before
        font-size 3em !important
        display block
      & .descrip
        color white
        display block

.contentWrapper
  letter-spacing normal
  width: 33%
  height: 100%
  max-height: 100%
  overflow hidden
  display inline-block
  vertical-align top
.wrapper
  width: 104%
  height: 100%
  max-height: 100%
  overflow-y scroll
  background rgba(0, 0, 0, .4)
  & .menuBtn
    transition(background,.6s)
    overflow hidden
    width 100%
    position relative
    height auto
    padding 40px 0px
    box-sizing(border-box)
    & button
      width 39px 
      height 33px
      display none
      position absolute
      border 0px 
      top 22px
      right 22px
      
  & .fotoPerfil
    display block
    margin -26px auto 38px auto 
    width 221px
    height 221px
    radius(50%,50%,50%,50%)
    shadow(0px,2px,4px,rgba(0, 0, 0, .5))
    
  & .content
    text-align center
    & .name  
      font-family bellota
      font-size 2.2em
    & .separatorName
      width 200px
      border:1px solid rgba(255, 255, 255, .5)
    & .ocuppation
      font-family openSansRegular
      font-size 1em
    & .btn-social
      position relative
      background rgba(0, 0, 0, .6)
      width 220px
      margin .6em auto
      radius(4px,4px,4px,4px)
      font-size 1.4em
      font-family openSansRegular
      padding .6em
      color white
      &:before 
        font-size 1.7em
        position absolute
        top 7px
        left 14px
.menu
  display none
  list-style none
  padding 7px 20px
  
  & .itemMenu
    box-sizing(border-box)
    width 100%
    text-align center
    font-size 1.4em
    padding 9px
    border-bottom 1px solid rgba(255, 255, 255, .1)
  & .itemMenu:nth-last-child(1)
    border-bottom 0px

.topMenu
  width 100%
  height 90px
  background rgba(0, 0, 0, .4)
  position absolute
  letter-spacing normal
  z-index 2
  
  & #menu
    display none
  
  & .avatar
    display block
    width 120px
    height 120px
    position absolute
    top 1em 
    left 5%
    radius(50%,50%,50%,50%)
    shadow(0px,2px,4px,rgba(0, 0, 0, .5))
    
  & .meMenu
    width 80%
    box-sizing(border-box)
    text-align center
    display block
    margin 30px auto
    & .itemMenu:nth-last-child(1)
      border-right 0px      
    & .itemMenu
      position relative
      border-right 2px solid white
      padding 0px 1.4em
      font-size 1.4em
      display inline-block !important
      & a
        color white
    & .active:after
      width: 0
      height: 0
      border-left: 21px solid transparent
      border-right: 21px solid transparent
      border-bottom: 12px solid #fff
      position: absolute
      content: ""
      top: 48px
      left: 50%
      margin-left: -25px
  & button 
    border 0px
    position absolute
    top 35px
    right 20px
    

.wrapperMe
  width 100%
  letter-spacing normal
  position absolute
  top 90px
  min-height 100%
  background #EBEDEB
  & .view
    height 100%
    & .page
      background white
      box-sizing(border-box)
      padding 20px 10em
      color black
      display block
      position relative
      min-height 100%
      width 80%
      margin 0px auto
      shadow(0px,0px,4px,rgba(0, 0, 0, .5))
      & .title
        font-family montserrat
        font-size 2.3em
      & .subtitle
        font-family openSansRegular
        font-size 1.5em   
        color #9D9D9D
      & .paragraph
        font-family openSansRegular
        font-size 1.2em  
        line-height 1.6em 
        color #606060     
    

@media screen and (max-width: 1000px)
  .menuDesktop
    display none
  .contentWrapper
    display block
    margin 0px auto
    width 70%  
  .wrapper
    margin 0px auto
    width 100%
    & .menuBtn
      height 72px
      padding 40px 0px 0px 0px
      & button
        display block
  .menu
    display block
    
  & .meMenu
    width 80%
    box-sizing(border-box)
    text-align center
    display block
    margin 40px 0px !important    
    & .itemMenu
      position relative
      padding 5px 20px !important
      border-right 0px !important
      font-size 1.4em
      border-bottom 1px solid rgba(255, 255, 255, .3)
      display block !important
      width 100%
      & a
        color white
    & .active:after
      display none

  .topMenu
    & .meMenu
      margin 0px 0px
      display none
    & .avatar
      width 85px
      height 85px
      position absolute
      z-index 3
    & #menu
      display block
    
/*Mobile Design*/
@media screen and (max-width: 667px)
  .contentWrapper
    margin 0px auto
    width 95%   
  .wrapper
    margin 0px auto
    width 100%
    & .menuBtn
      height 72px
      padding 40px 0px 0px 0px
      & button
        display block
    & .fotoPerfil
      margin -26px auto 38px auto 
      transition(margin,.6s) 
    & .content  
      & .btn-social:before
        top 3px
        
  .wrapperMe
    height 100%
    & .view
      height 100%
      & .page
        width 100%
        padding 20px 4em
        & .title
          text-align right
    

  .menu
    display block
    
  .menuDesktop
    display none
    
  .contentWrapper
    display block
  
  body
    font-size 12px
    background-position -10 00px 0px

