<div class="page">

	<h1 class="title">Acerca de Mi</h1>
	<h3 class="subtitle">Ingeniero en TIC apasionado por UI y UX me encanta el desarrollo web #FrontEnd y #BackEnd, soy originario de Zambrano, Honduras.
	</h3>
	<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius ad cum repudiandae, nesciunt obcaecati libero explicabo quibusdam, eveniet dolorum exercitationem recusandae nostrum sed iure aperiam optio, eligendi ea soluta ipsam.</p>

	<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iste cumque et ipsam nostrum illo eos rem! Quae, itaque voluptate quibusdam enim error? Illo impedit quo repellat. Corrupti, rerum! Ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis maiores voluptas consequatur, ipsum sit suscipit itaque, totam dolor nobis dolorem corporis ducimus accusantium, nam at ad! Ab, quam, possimus.</p>

	<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit iste cumque et ipsam nostrum illo eos rem! Quae, itaque voluptate quibusdam enim error? Illo impedit quo repellat. Corrupti, rerum! Ad. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis maiores voluptas consequatur, ipsum sit suscipit itaque, totam dolor nobis dolorem corporis ducimus accusantium, nam at ad! Ab, quam, possimus.</p>

</div>