<view-title>Blog de UI/UX, Front End & Back End Developer</view-title>
<div class="page">
	<div class="titleBlog">
		<h1>Blog de UI/UX, Desarrollo Movil y Desarrollo Web</h1>
	</div>
	<div class="containerBlog">
		<div infinite-scroll="pagingLoad()" infinite-scroll-distance="40">
			<div ng-repeat="item in listadoEntradas | orderBy:'-date'" class="fadeIn">
				<a ng-href="#!/blog/{{item.id}}">
					<img class="images" ng-src="{{item.featuredImage}}" alt="">
				</a>
				<h3 class="date">{{item.date | date:'fullDate'}}</h3>
				<h3 class="title">{{item.title}}</h3>
				<p class="descrip" ng-bind-html="item.content | words:30 | unsafe"></p>
				<a ng-href="#!/blog/{{item.id}}" class="linkBlog">Seguir Leyendo</a>
				<hr class="separatorBlog">
			</div>
			<div class="{{spinState}} sk-spinner sk-spinner-three-bounce">
				<div class="sk-bounce1"></div>
				<div class="sk-bounce2"></div>
				<div class="sk-bounce3"></div>
			</div>	
		</div>
	</div>
</div>