<view-title>Blog de UI/UX, Front End & Back End Developer</view-title>
<div class="page">
	<div class="containerBlog">
		<div infinite-scroll="pagingLoad()" infinite-scroll-distance="40">
			<div ng-repeat="item in listadoEntradas | orderBy:'-date'" class="fadeIn">
				<a ng-href="#!/blog/{{item.id}}">	
					<img class="images" ng-src="{{item.featuredImage}}" alt="">
					<h1 class="title">{{item.title}}</h1>
				</a>
				<h3 class="date">Escrito por: {{item.author}} | {{item.date | date:'fullDate'}}</h3>
				<p class="descrip" ng-bind-html="item.content | words:25 | unsafe"></p>
				<hr class="separatorBlog">
			</div>
			<h2 class="{{responseClass}}">{{response}}</h2>
		</div>
	</div>
</div>