<view-title>{{proyectos.title}} | Portafolio </view-title>
<div class="page">
	<ul class="breadcrumbs">
		<li class="item"><a href="#!/projects" class="flaticon-home"> Todas Mis Proyectos</a></li>
		<li class="item">{{proyectos.title}}</li>
	</ul>
	<img class="images mainImage" ng-src="{{proyectos.mainImage}}" alt="">
	<div class="containerCategory">
		<div class="categoryProject">
			<span ng-repeat="item in proyectos.categoryRel">{{item.name}}</span>
		</div>		
	</div>	
	<div class="paragraph descrip">
		<h1 class="title">{{proyectos.title}}</h1>	
		<hr>
		<h3 class="subtitle">{{proyectos.subtitle}}</h3>	
		<p ng-bind-html="proyectos.content | unsafe"></p>
	</div>
	<div class="contentLoad">
		<div class="{{spinState}} sk-spinner sk-spinner-three-bounce">
			<div class="sk-bounce1"></div>
			<div class="sk-bounce2"></div>
			<div class="sk-bounce3"></div>
		</div>
	</div>
</div>