bg-color = #ECF0F1
border-color = #DDDDDD
blue5x1-color = #00A4ED
green5x1-color = #50d850
black-podcast = #25282A
color-lyrics = #999999
color-lyrics-dark = #4C4C4C
gris-default = #f8f9fa
gray-ad = #C0C3C4

turquesa = #1ABC9C
esmeralda = #2ECC71
azul-peter = #3498DB
violeta = #9B59B6
asfalto = #34495E
amarillo = #F1C40F
naranja = #F39C12
zanahoria = #E67E22
rojo = #E74C3C
rojo-oscuro = #C0392B

twitter = #3cf
facebook = #3b5998
gplus = #DD4B39
youtube = #F1222E
