.button
	display inline-block
	background transparent
	border 0px
	text-decoration none
	box-sizing(border-box)
	&-x-lg 
		font-size 2.5em
	&-lg
		font-size 2em
	&-md
		font-size 1.5em
	&-sm
		font-size 1em
	&:focus
		outline 0px
	&-default
		background white
		font-size 1.3em
		width 100%
		padding 1em
		border 1px solid border-color
		border-bottom 3px solid border-color
	&-submit
		background turquesa
		color white
		padding 7px 12px
		radius(5px,5px,5px,5px)
		&:hover
			shadow(0px,0px,10px,turquesa)
	&-fb
		margin-top 10px 
		background facebook
		color white
		padding 7px 12px
		radius(5px,5px,5px,5px)
		&:hover
			shadow(0px,0px,10px,facebook)
	&-tw 
		margin-top 10px
		background twitter
		color white
		padding 7px 12px
		radius(5px,5px,5px,5px)
		&:hover
			shadow(0px,0px,10px,twitter)
	&-sidebar
		cursor pointer
		width 100%
		color white
		font-size 1.3em
		padding 7px 10px
		&-active
			background blue5x1-color
/*Textbox*/
.field
	width 100%
	font-family: 'latolight', sans-serif, helvetica, arial
	background: gris-default
	border 1px solid border-color
	box-sizing(border-box) 
	padding 8px 10px 
	display inline-block  
	color blackFont 
	letter-spacing normal
	radius(5px,5px,5px,5px)
	&:focus
		outline 0px
		shadow(0px,0px,10px,border-color)
	&-x-lg 
		font-size 2.5em
	&-lg
		font-size 2em
	&-md
		font-size 1.5em
	&-sm
		font-size 1em
		