@font-face
    font-family: 'lato-regular'
    src: url('fonts/lato/lato-regular-webfont.eot')
    src: url('fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('fonts/lato/lato-regular-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-regular-webfont.svg#latoregular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'lato-light'
    src: url('fonts/lato/lato-light-webfont.eot')
    src: url('fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-light-webfont.woff') format('woff'),
         url('fonts/lato/lato-light-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-light-webfont.svg#latolight') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'lato-bold'
    src: url('fonts/lato/lato-bold-webfont.eot')
    src: url('fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato/lato-bold-webfont.woff') format('woff'),
         url('fonts/lato/lato-bold-webfont.ttf') format('truetype'),
         url('fonts/lato/lato-bold-webfont.svg#latobold') format('svg')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'crimson-semibold'
    src: url('fonts/crimson/crimsontext-semibold-webfont.eot')
    src: url('fonts/crimson/crimsontext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimsontext-semibold-webfont.woff2') format('woff2'),
         url('fonts/crimson/crimsontext-semibold-webfont.woff') format('woff'),
         url('fonts/crimson/crimsontext-semibold-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimsontext-semibold-webfont.svg#crimson_textsemibold') format('svg')
    font-weight: normal
    font-style: normal
    
    
@font-face 
    font-family: 'crimson-light'
    src: url('fonts/crimson/crimson-light-webfont.eot')
    src: url('fonts/crimson/crimson-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimson-light-webfont.woff2') format('woff2'),
         url('fonts/crimson/crimson-light-webfont.woff') format('woff'),
         url('fonts/crimson/crimson-light-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimson-light-webfont.svg#crimson-light') format('svg')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'crimson-regular'
    src: url('fonts/crimson/crimsontext-regular-webfont.eot')
    src: url('fonts/crimson/crimsontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimsontext-regular-webfont.woff2') format('woff2'),
         url('fonts/crimson/crimsontext-regular-webfont.woff') format('woff'),
         url('fonts/crimson/crimsontext-regular-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimsontext-regular-webfont.svg#crimson_textroman') format('svg')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'crimson-italic'
    src: url('fonts/crimson/crimson-italic-webfont.eot')
    src: url('fonts/crimson/crimson-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimson-italic-webfont.woff2') format('woff2'),
         url('fonts/crimson/crimson-italic-webfont.woff') format('woff'),
         url('fonts/crimson/crimson-italic-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimson-italic-webfont.svg#crimson_textitalic') format('svg')
    font-weight: normal
    font-style: normal
    
@font-face 
    font-family: 'crimson-bold'
    src: url('fonts/crimson/crimsontext-bold-webfont.eot')
    src: url('fonts/crimson/crimsontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/crimson/crimsontext-bold-webfont.woff2') format('woff2'),
         url('fonts/crimson/crimsontext-bold-webfont.woff') format('woff'),
         url('fonts/crimson/crimsontext-bold-webfont.ttf') format('truetype'),
         url('fonts/crimson/crimsontext-bold-webfont.svg#crimson_textbold') format('svg')
    font-weight: normal
    font-style: normal

@font-face
  font-family: "flaticon"
  src: url("fonts/flaticon/flaticon.eot")
  src: url("fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
  url("fonts/flaticon/flaticon.woff") format("woff"),
  url("fonts/flaticon/flaticon.ttf") format("truetype"),
  url("fonts/flaticon/flaticon.svg") format("svg")
  font-weight: normal
  font-style: normal
  
[class^="flat-"]:before, [class*=" flat-"]:before,
[class^="flat-"]:after, [class*=" flat-"]:after  
  font-family: flaticon
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  display: inline-block
  text-decoration: inherit

.flat-right:before 
  content: "\e000"

.flat-play-podcast:before 
  content: "\e001"

.flat-volumen:before 
  content: "\e002"

.flat-Indignante:before 
  content: "\e003"

.flat-x:before 
  content: "\e004"

.flat-articulos:before 
  content: "\e005"

.flat-facebook:before 
  content: "\e006"

.flat-recomendado:before 
  content: "\e007"

.flat-forward:before 
  content: "\e008"

.flat-gplus:before 
  content: "\e009"

.flat-trending:before 
  content: "\e00a"

.flat-left:before 
  content: "\e00b"

.flat-search:before 
  content: "\e00c"

.flat-play-video:before 
  content: "\e00d"

.flat-share:before 
  content: "\e00e"

.flat-Increible:before 
  content: "\e00f"

.flat-twitter:before 
  content: "\e010"

.flat-profile:before 
  content: "\e011"

.flat-util:before 
  content: "\e012"

.flat-youtube:before 
  content: "\e013"

.flat-social-youtube:before 
  content: "\e014"
  