box-sizing(a)
	box-sizing a
	-moz-box-sizing a

radius(t,r,b,l)
	-webkit-border-radius t r b l 
	-moz-border-radius t r b l 
	-ms-border-radius t r b l 
	-o-border-radius t r b l 
	border-radius t r b l 

shadow(p1,p2,p3,color)
	-webkit-box-shadow p1 p2 p3 color 
	-moz-box-shadow p1 p2 p3 color 
	-ms-box-shadow p1 p2 p3 color 
	-o-box-shadow p1 p2 p3 color 
	box-shadow p1 p2 p3 color 

transition(attr, seg)
	-webkit-transition attr seg
	transition attr seg