.rows
  letter-spacing -1.6em
  text-align center
  
.columns
  display inline-block
  letter-spacing normal
  text-align center
  vertical-align top
  padding 0px 5px 0px 5px
  box-sizing(border-box)
  vertical-align: middle
  -webkit-transition: all 1s 
  -moz-transition: all 1s 
  -ms-transition: all 1s 
  -o-transition: all 1s 
  transition: all 1s
  
.grid-1  
  width 8.33333%

.grid-2
  width 16.66667%

.grid-3
  width 25%

.grid-4
  width 33.33333%

.grid-5
  width 41.66667%

.grid-6
  width 50%

.grid-7
  width 58.33333%

.grid-8
  width 66.66667%

.grid-9
  width 75%

.grid-10
  width 83.33333%

.grid-11
  width 91.66667%

.grid-12
  width 100%
  
.section-title
  border-bottom 2px solid #ddd
  padding 10px 7px 7px 7px
  margin-bottom 10px

@media screen and (max-width:1000px)
  .grid-4
    width 50% 
      
@media screen and (max-width:680px)
  .columns
    width 100% !important
    & img
      width 100%