.rows {
  letter-spacing: -1.6em;
  text-align: center;
}
.columns {
  display: inline-block;
  letter-spacing: normal;
  text-align: center;
  vertical-align: top;
  padding: 0px 5px 0px 5px;
  vertical-align: middle;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.grid-1 {
  width: 8.33333%;
}
.grid-2 {
  width: 16.66667%;
}
.grid-3 {
  width: 25%;
}
.grid-4 {
  width: 33.33333%;
}
.grid-5 {
  width: 41.66667%;
}
.grid-6 {
  width: 50%;
}
.grid-7 {
  width: 58.33333%;
}
.grid-8 {
  width: 66.66667%;
}
.grid-9 {
  width: 75%;
}
.grid-10 {
  width: 83.33333%;
}
.grid-11 {
  width: 91.66667%;
}
.grid-12 {
  width: 100%;
}
.section-title {
  border-bottom: 2px solid #ddd;
  padding: 10px 7px 7px 7px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .grid-4 {
    width: 50%;
  }
}
@media screen and (max-width: 680px) {
  .columns {
    width: 100% !important;
  }
  .columns img {
    width: 100%;
  }
}
@font-face {
  font-family: "Flaticon";
  src: url("fonts/flaticon.eot");
  src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"), url("fonts/flaticon.woff") format("woff"), url("fonts/flaticon.ttf") format("truetype"), url("fonts/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
}
.flaticon-x:before {
  content: "\e000";
}
.flaticon-arrow:before {
  content: "\e001";
}
.flaticon-facebook:before {
  content: "\e002";
}
.flaticon-integrated:before {
  content: "\e003";
}
.flaticon-manager:before {
  content: "\e004";
}
.flaticon-menu:before {
  content: "\e005";
}
.flaticon-mobile:before {
  content: "\e006";
}
.flaticon-twitter:before {
  content: "\e007";
}
.flaticon-comunication:before {
  content: "\e008";
}
.flaticon-web-programming:before {
  content: "\e009";
}
.flaticon-caracter:before {
  content: "\e00a";
}
.flaticon-youtube:before {
  content: "\e00b";
}
.ns-popover-tooltip-theme {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 100;
  max-width: 340px;
}
.ns-popover-tooltip-theme .ns-popover-tooltip {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 3px;
  z-index: 100;
  background-color: #fff;
  padding: 0.5625rem 0.875rem;
  max-width: 20rem;
  font-size: 0.875rem;
  margin: 10px;
  color: #444;
}
.ns-popover-tooltip:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -10px;
}
.ns-popover-tooltip-theme .ns-popover-tooltip ul {
  padding: 0;
  margin: 0.625rem 0;
  display: block;
}
.ns-popover-tooltip-theme .ns-popover-tooltip li {
  list-style-type: none;
}
.ns-popover-tooltip-theme .ns-popover-tooltip li a {
  padding: 0.1875rem 0.625rem;
  display: block;
}
.ns-popover-tooltip-theme .ns-popover-tooltip li a:hover {
  background-color: #f5f5f5;
}
.ns-popover-tooltip-theme.ns-popover-left-align .ns-popover-tooltip {
  margin-left: 0;
}
.ns-popover-tooltip-theme.ns-popover-right-align .ns-popover-tooltip {
  margin-right: 0;
}
.ns-popover-tooltip-theme.ns-popover-top-align .ns-popover-tooltip {
  margin-top: 0;
}
.ns-popover-tooltip-theme.ns-popover-bottom-align .ns-popover-tooltip {
  margin-bottom: 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  z-index: 1040;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.md-wrapper-modal {
  width: 99% !important;
  margin: 1% auto !important;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -ms-border-radius: 0px 0px 0px 0px;
  -o-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.wrapper-modal {
  background: #f5f5f7;
  width: 70%;
  height: auto;
  margin: 5% auto 20px auto;
  overflow: hidden;
  min-width: 287px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -ms-border-radius: 6px 6px 6px 6px;
  -o-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}
.wrapper-modal .md-head {
  letter-spacing: normal;
  line-height: 60px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px;
  height: 60px;
  font-size: 1em;
  background: #ededee;
  width: 100%;
  white-space: nowrap;
  position: relative;
  border-bottom: 1px solid #d3d3d4;
  -webkit-box-shadow: 0px 1px 10px #fff;
  -moz-box-shadow: 0px 1px 10px #fff;
  -ms-box-shadow: 0px 1px 10px #fff;
  -o-box-shadow: 0px 1px 10px #fff;
  box-shadow: 0px 1px 10px #fff;
}
.wrapper-modal .md-head .title {
  font-weight: 400;
}
.wrapper-modal .md-head .close-modal {
  position: absolute;
  padding: 0px 20px 0px 20px;
  top: -1px;
  right: 0px;
  background: #ededee;
  border-bottom: 1px solid #d3d3d4;
}
.wrapper-modal .md-head .close-modal:hover {
  cursor: pointer;
  color: #ef0200 !important;
}
.wrapper-modal .md-body {
  padding: 0px 20px 20px 20px;
}
.wrapper-modal .md-foot {
  border-top: 1px solid grisBorde;
  text-align: center;
  padding: 20px;
}
/* variables */
/* estilo general */
body {
  background: #333;
  font-family: 'Open Sans', arial, helvetica;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body {
    background-image: url("../images/bg@2x.jpg");
    background-size: auto auto;
  }
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
footer {
  background: #2e2e2e;
  margin: 0px;
  color: rgba(255,255,255,0.6);
  font-weight: 300;
  overflow: hidden;
  padding: 20px 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.field {
  background: transparent;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0.5em 1em;
  border: 0px !important;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  font-size: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.field:focus {
  outline: 0px;
}
.field-modal {
  background: #fff !important;
  width: 100%;
  border: 1px solid #d3d3d4 !important;
}
.wrapper-field {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.angular-google-map-container {
  margin-left: 20px;
  height: 280px;
  -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  -ms-box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  -o-box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
  border: 4px solid #fff;
}
.blue {
  background: #0f98ec !important;
}
.blue:hover {
  background: #fff !important;
  color: #0f98ec !important;
}
.orange {
  background: #e85b3f !important;
}
.orange:hover {
  background: #fff !important;
  color: #e85b3f !important;
}
.yellow {
  background: #feb33b !important;
}
.yellow:hover {
  background: #fff !important;
  color: #feb33b !important;
}
/* estilo de la barra de menu */
.bar-black {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-image: -webkit-gradient(linear, 70% 0, 70% 100%, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 100%);
  background-image: linear-gradient(top, rgba(0,0,0,0.7) 0, rgba(0,0,0,0) 100%);
  position: fixed;
  height: 100px;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 30px;
}
.bar-black .logo {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 10px;
  float: left;
  width: 267px;
  height: 71px;
  background: url("../images/logo.png");
  background-size: 100% 100%;
}
.bar-black .btn-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
  color: #fff;
  border: 0px;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 20px;
}
.bar-black .btn-menu:before {
  font-size: 1.6em;
}
.bar-black .menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  float: right;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.bar-black .menu ul {
  padding: 0px;
  list-style: none;
}
.bar-black .menu ul li {
  padding: 0px 10px;
  display: inline-block;
  vertical-align: middle;
}
.bar-black .menu ul li a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}
.bar-black .menu ul li a:hover {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #ef0200;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  background: #fff;
  display: block;
  padding: 0px 4px;
}
.bar-white {
  background: rgba(255,255,255,0.9) !important;
  height: 60px;
  border-bottom: 1px solid #e7e7e7;
}
.bar-white .logo {
  margin-top: 5px;
  float: left;
  width: 187px;
  height: 50px;
  background: url("../images/logo-black.png");
  background-size: 100% 100%;
}
.bar-white .menu {
  padding: 0px;
}
.bar-white .menu ul li a {
  color: #333;
}
.bar-white .btn-menu {
  display: none;
  color: #ef0200;
  top: 15px;
}
.bar-white .btn-menu:before {
  font-size: 1.6em;
}
/* estilo del contenedor full page */
#fullPage {
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
  overflow: hidden;
}
/* estilo de la seccion principal */
.mainView {
  position: relative;
  width: 100%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.mainView .container {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
}
.mainView .container .centerVertical {
  margin-top: 200px;
}
.mainView .container .title {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  text-align: center;
  position: relative;
  font-size: 2.5em;
  font-weight: 400;
  color: #fff;
  margin: 0px;
  padding: 0px;
}
.mainView .container .descrip {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  font-size: 1.2em;
  color: #fff;
  font-weight: 300;
}
.mainView .bottom-section {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  -webkit-animation: moveArrow 2s infinite;
  animation: moveArrow 2s infinite;
}
.mainView a {
  text-decoration: none;
  color: #fff;
  font-size: 4em;
}
/* estilo de la seccion de servicios */
.servicesView {
  background: #eee;
  text-align: center;
}
.servicesView .serviceItem {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0px;
}
.servicesView .serviceItem:hover {
  cursor: pointer;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}
.servicesView .serviceItem:hover .figure .inner-figure {
  display: block;
}
.servicesView .serviceItem .figure {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  color: rgba(0,0,0,0.54);
  padding-top: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.servicesView .serviceItem .figure:before {
  font-size: 8em;
}
.servicesView .serviceItem .figure .inner-figure {
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 60px 0px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.servicesView .serviceItem .title {
  padding: 0px;
  line-height: 0.2em;
  font-weight: 300;
  font-size: 1.6em;
}
.servicesView .serviceItem .descrip {
  padding: 0px 40px;
  font-weight: 300;
  font-size: 1em;
}
/* estilo de la seccion de cursos */
.cursosView {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  overflow: hidden;
}
.cursosView .rows .left-course {
  margin-bottom: 30px;
}
.cursosView .rows .left-course .iphone {
  position: relative;
  top: 450px;
  background: url("../images/course-ios.png");
  background-size: cover;
  width: 400px;
  height: 601px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.cursosView .rows .left-course .animate-iphone {
  top: 150px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.cursosView .rows .right-course {
  margin-bottom: 30px;
  text-align: right !important;
}
.cursosView .rows .right-course .title {
  padding: 0px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 2em;
}
.cursosView .rows .right-course .descrip {
  padding: 0px 0px 0px 40px;
  font-weight: 300;
  font-size: 1.1em;
}
/* estilo de la seccion de contacto*/
.contactoView {
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: rgba(230,92,69,0.95);
}
.contactoView .wrapperContact {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 0px 10px;
}
.contactoView .wrapperContact .rows .title-section .line-abs {
  background: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.contactoView .wrapperContact .rows .title-section .text {
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  color: #fff;
}
.descripContact {
  font-weight: 300;
}
.field-contact {
  background: rgba(0,0,0,0.3);
  width: 100%;
}
/* estilo del Titulo de las secciones*/
.title-section {
  position: relative;
  margin: 20px 0px;
}
.title-section .line-abs {
  background: #333;
  box-shadow: 0 1px 0 rgba(255,255,255,0.75);
  height: 2px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}
.title-section .text {
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  color: #333;
  font-size: 2.5em;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}
/*********************************************************
******************  estilo de los botones ****************/
.btn {
  background: transparent;
  display: inline-block;
}
.btn-section {
  background: rgba(255,255,255,0.2);
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  border: 1px solid rgba(255,255,255,0.75);
  margin: 0px 10px;
  height: 88px;
  width: 88px;
  color: #fff;
  cursor: pointer;
}
.btn-section:before {
  font-size: 3.2em;
  font-weight: normal !important;
}
.btn-section:focus {
  outline: 0px;
}
.btn-section:hover {
  background: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 0px 20px #fff;
  -moz-box-shadow: 0px 0px 20px #fff;
  -ms-box-shadow: 0px 0px 20px #fff;
  -o-box-shadow: 0px 0px 20px #fff;
  box-shadow: 0px 0px 20px #fff;
  border: 0px solid #f96f68;
  color: #ef0200;
}
.btn-contact {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.75);
  margin: 0px 10px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
.btn-contact:focus {
  outline: 0px;
}
.btn-contact:hover {
  background: rgba(255,255,255,0.9);
  -webkit-box-shadow: 0px 0px 20px #fff;
  -moz-box-shadow: 0px 0px 20px #fff;
  -ms-box-shadow: 0px 0px 20px #fff;
  -o-box-shadow: 0px 0px 20px #fff;
  box-shadow: 0px 0px 20px #fff;
  border: 1px solid transparent;
  color: rgba(230,92,69,0.95);
}
.btn-form {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(255,255,255,0.75);
  padding: 5px 10px;
  margin-top: 7px;
}
.btn-form:focus {
  outline: 0px;
}
.btn-course {
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #3487d4;
  display: inline-block;
  color: #3487d4;
  padding: 5px 10px;
  margin-top: 7px;
}
.btn-course:hover {
  background: #3487d4;
  color: #fff;
  -webkit-box-shadow: 0px 0px 20px #3487d4;
  -moz-box-shadow: 0px 0px 20px #3487d4;
  -ms-box-shadow: 0px 0px 20px #3487d4;
  -o-box-shadow: 0px 0px 20px #3487d4;
  box-shadow: 0px 0px 20px #3487d4;
}
.btn-course:focus {
  outline: 0px;
}
/*********************************************************
******************  social icons ****************/
.social a {
  text-decoration: none;
  font-weight: normal;
  font-size: 3em;
  color: rgba(255,255,255,0.6);
  padding: 2%;
}
.social .twitter:hover {
  color: #55acee;
}
.social .youtube:hover {
  color: #cc181e;
}
.social .facebook:hover {
  color: #3a5d91;
}
/******* Animation ******/
@-webkit-keyframes moveArrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}
/* Standard syntax */
/*********************************************************
****************** estilo responsive *********************/
@media screen and (max-width: 933px) {
  .bar-black .menu {
    display: none;
    float: right;
    position: relative;
    top: 60px;
    right: -15px;
    height: auto !important;
    background: #fff;
    padding: 0px 7px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #e7e7e7;
  }
  .bar-black .menu:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e7e7e7;
    position: absolute;
    top: -11px;
    right: 4px;
    margin-left: -10px;
  }
  .bar-black .menu:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    right: 4px;
    margin-left: -10px;
  }
  .bar-black .menu ul li {
    display: block;
    padding: 3px 0px;
    border-bottom: 1px solid #e7e7e7;
  }
  .bar-black .menu ul li a {
    color: #333;
  }
  .btn-menu {
    display: block !important;
  }
}
@media screen and (max-width: 680px) {
  .mainView .bottom-section {
    display: none;
  }
  .cursosView .rows .left-course {
    position: relative;
    z-index: 0;
  }
  .cursosView .rows .left-course .iphone {
    margin-top: -500px;
  }
  .cursosView .rows .right-course {
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0 60px 60px rgba(255,255,255,0.9);
    -moz-box-shadow: 0 60px 60px rgba(255,255,255,0.9);
    -ms-box-shadow: 0 60px 60px rgba(255,255,255,0.9);
    -o-box-shadow: 0 60px 60px rgba(255,255,255,0.9);
    box-shadow: 0 60px 60px rgba(255,255,255,0.9);
    text-align: center !important;
    position: relative;
    z-index: 1;
  }
  .cursosView .rows .right-course .descrip {
    padding: 0px 40px 0px 40px;
  }
  .angular-google-map-container {
    margin-left: 0px;
    position: relative;
    top: 4px;
  }
  .centerVertical {
    margin-top: 100px !important;
  }
  .servicesView .serviceItem {
    cursor: pointer;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  }
}
@media screen and (max-width: 480px) {
  .bar-black {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .bar-black {
    height: 80px;
    background: #fff;
  }
  .btn-menu {
    display: block !important;
  }
  .btn-menu:before {
    color: #ef0200;
  }
  .leftMain {
    display: none;
  }
  .logo {
    position: relative;
    left: -20px;
    background: url("../images/logo-black.png") !important;
    background-size: 100% 100% !important;
    width: 210px !important;
    height: 56px !important;
  }
  .title-section .text {
    width: 100%;
  }
}
@media screen and (max-width: 389px) {
  .bar-black .menu {
    top: 0px !important;
  }
}
@-moz-keyframes moveArrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes moveArrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}
@-o-keyframes moveArrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes moveArrow {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}
