.modal-open
  overflow: hidden

.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, .75)
  z-index: 1040
  display: none
  overflow: auto
  -webkit-overflow-scrolling: touch
  outline: 0
.md-wrapper-modal
  width 99% !important
  margin 1% auto !important
  radius(0px,0px,0px,0px) !important
.wrapper-modal
  background: #f5f5f7
  width 70%
  height auto
  margin 5% auto 20px auto
  overflow hidden
  min-width 287px
  radius(6px,6px,6px,6px)
  & .md-head
    letter-spacing normal
    line-height 60px
    box-sizing(border-box)
    padding 0px 20px
    height 60px
    font-size 1em
    background #ededee
    width 100%
    white-space nowrap
    position relative
    border-bottom 1px solid #d3d3d4
    shadow(0px,1px,10px, #ffffff)
    & .title
     font-weight 400
    & .close-modal
      position absolute
      padding 0px 20px 0px 20px
      top -1px
      right 0px
      background #ededee
      border-bottom 1px solid #d3d3d4
      &:hover
        cursor pointer
        color #ef0200 !important
  & .md-body
    padding 0px 20px 20px 20px
  & .md-foot
    border-top 1px solid grisBorde
    text-align center
    padding 20px