colorVida = #C84A2B

#player
  -webkit-transition: all .3s 
  transition: all .3s  
  width: 100%
  height: 40px
  padding 6px 10px 0px 10px
  position: fixed
  bottom: 0px
  right: 0px
  z-index: 40000
  background: rgb(255, 255, 255)
  box-sizing: border-box
  -moz-box-sizing: border-box

@media screen and (min-width:400px)
  .player-mini
    -webkit-transition: all .3s 
    transition: all .3s  
    width 300px !important
    radius(0px,0px,6px,6px)
    right 10px !important
    bottom 10px !important
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

#player .trackinfo
  display: inline-block
  vertical-align: middle
  color: #646464

#player .trackinfo p
  text-shadow: 0px 0px 5px #333

#player .trackinfo #artist
  padding-left: 5px

#player .trackinfo #title
  font-weight: bold
  font-size: 20px
  margin-bottom: 5px

#player .container
  overflow: hidden
  display: inline-block
  vertical-align: middle

.nav
  width: 30px
  height: 30px
  background-color: transparent
  border: 2px solid colorVida
  border-radius: 50%
  outline: none
  text-align center
  cursor: pointer
  color colorVida
  &:hover
    background-color: colorVida
    color white

.ward
  width: 30px
  height: 30px
  background-color: transparent
  outline: none
  text-align center
  cursor: pointer
  color colorVida
  border 0px

#track
  width: 100%
  height: 3px
  position: absolute
  background-color: rgb(155, 155, 155)
  top: -3px
  left: 0px
  z-index: 10
  cursor: pointer

#track #handler
  position: absolute
  width: 20px
  height: 20px
  background-color: colorVida
  top: 50%
  left: 0%
  margin-top: -10px
  border-radius: 50%
  cursor: pointer
  z-index: 5

#track #progress
  position: absolute
  height: 5px
  width: 0%
  background: colorVida
  cursor: pointer

.pad 
  margin-left 3px
  

.control-volume
  position absolute
  text-align right
  right 20px
  bottom 10px
  cursor pointer
  z-index 120
  color colorVida
  &:hover 
    & .wrapper-fader
      display block
  & .wrapper-fader
    display none
    position relative
    margin-bottom 32px
    right 10px
    padding 0px 10px
    background white
    &:after
      content ''
      width: 0
      height: 0
      position absolute
      border-top: 15px solid white
      border-left: 15px solid transparent
      right 0px
      
  
input[type=range]::-moz-range-track
  width: 100%
  height: 4px
  cursor: pointer
  animate: 0.2s
  background-color: rgb(155, 155, 155)
  border-radius: 1px

input[type=range]
  -webkit-appearance: none
  margin: 18px 0
  width: 100%

input[type=range]::-webkit-slider-runnable-track
  width: 100%
  height: 4px
  cursor: pointer
  animate: 0.2s
  background-color: rgb(155, 155, 155)
  border-radius: 1px

input[type=range]::-ms-fill-lower
  background-color: rgb(155, 155, 155)
  border-radius: 2.6px

input[type=range]::-ms-track
  width: 100%
  height: 4px
  cursor: pointer
  animate: 0.2s
  background: transparent
  border-color: transparent
  border-width: 4px 0
  color: transparent

input[type=range]::-ms-thumb
  height: 16px
  width: 16px
  border-radius: 50%
  background: colorVida
  cursor: pointer

input[type=range]:focus
  outline: none
  &::-ms-fill-upper
    background-color: rgb(155, 155, 155)
  &::-ms-fill-lower
    background-color: rgb(155, 155, 155)
  &::-webkit-slider-runnable-track
    background-color: rgb(155, 155, 155)

input[type=range]::-moz-range-thumb
  height: 16px
  width: 16px
  border-radius: 50%
  background: colorVida
  cursor: pointer

input[type=range]::-ms-fill-upper
  background: #3071a9
  border-radius: 2.6px

input[type=range]::-webkit-slider-thumb
  height: 16px
  width: 16px
  border-radius: 50%
  background: colorVida
  cursor: pointer
  -webkit-appearance: none
  margin-top: -6px





