<section class="md-head">
	<h2 class="title">Solicitud de Desarrollo</h2>
	<a class="close close-modal flaticon-x"> </a>
</section>
<section class="md-body">
	<form class="form-horizontal" role="form" action="mail/" method="post">
		<div class="rows">
			<div class="form-group columns grid-6">
			    <label for="inputPers3" class="control-label"><p style="color:black">Nombre</p></label>
			    <div class="wrapper-field">
			        <input type="text" class="field field-modal" name="pers3">
			    </div>
			</div>
			<div class="form-group columns grid-6">
			    <label for="inputEmail3" class=" control-label"><p>Email</p></label>
			    <div class="wrapper-field">
			        <input type="email" class="field field-modal" id="inputEmail3" name="email3">
			    </div>
			</div>
			<div class="form-group columns grid-12">
			    <label for="inputAsunt3" class=" control-label"><p>Asunto</p></label>
			    <div class="wrapper-field">
			        <input type="text" class="field field-modal" name="asunt3">
			    </div>
			</div>
			<div class="form-group columns grid-12">
			    <label for="inputContent3" class="control-label"><p>Mensaje</p></label>
			    <div class="wrapper-field">
			        <textarea class="field field-modal" cols="25" rows="5" name="content3"></textarea>    </div>
			</div>

			<div class="form-group columns grid-12">
			    <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" class="btn btn-course" value="enviar">Enviar</button>
			    </div>
			</div>
		</div>
	</form>
</section>
